[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
ipython = "*"
pillow = "*"
matplotlib = "*"
opencv-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
